header {
    display: inline;
    width: 1600px;
    max-width: 100%;
}
.logo {
    margin-top: 44px;
    margin-left: 144px;
}
nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    color: #2F281E;
    margin-left: 650px;
    margin-top: 44px;
}
ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    text-decoration: none;
    list-style-type: none;
    float: left;
}
li a { 
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #2F281E;
}

.signinbtn {
    max-width: 102px;
    max-height: 46px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: #BCD0E5;
    color: #173A56;
    padding: 15px 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}
.signupbtn {
    margin-right: 145px;
    max-width: 102px;
    max-height: 46px;
    background-color: #FF9900; /*Orange*/
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}

body {
    margin-left: 145px;
}

/*Design superpowers*/

.firstcard {
    display: inline-block;
    max-width: 1126px;
    max-height: 496;
    margin-top: 128px;
    margin-left: 145px;

}

.main-title {
    max-width: 518px;
    max-height: 108px;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    line-height: 123%;
    color: #2F281E; 
    margin-top: 113px;
    margin-left: 145px;

}
.main-text {
    max-width: 458px;
    max-height: 95px;
    margin-left: 145px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #2F281E; 

}
.startbtn {
    margin-left: 145px;
    margin-top: 45px;
    width: 175px;
    height: 53px;
    background-color: #FF9900; /*Orange*/
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.videobtn {
    margin-left: 30px;
    color: #FF9900;

}
.jumping{
    display: inline-block;
    margin-top: 128px;
    margin-right: 129px;
    max-width: 605px;
    max-height: 496px;

}

/*Superpowers*/
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #2F281E;
}
h4 { 
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
}
.title{
    margin-top: 110px;
    margin-left: 439px;
    max-width: 539px;
    max-height: 108px;
    text-align: center;
}
/*container for boxes */
.container {
    margin-top: 54px;
    display: flex;
    /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline;

    flex-direction: column; 
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
    */
	flex-direction: row;
    justify-content: space-evenly;
}
.box {
    max-width: 240px;
    max-height: 204px;
}

/* Box for button*/
.boxtwo {
    margin-top: 34px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;

}

.infotext {
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500; 
    color: #2F281E;   
}
.infotitle {
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2F281E;

}

/*Design Professionals category*/

.designpro {
    margin-top: 120px;
    max-width: 1110px;
    max-height: 574px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
}

.designprotext{

}

/* Product managers category*/

.product_managers { 
    margin-top: 101px;
    margin-left: 144px;
    max-width: 1121px;
    max-height: 521px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: space-around;

}

.products{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: center;
}
.checkbox{
    max-width: 450px;
    max-height: 52px;
}
.checkimg {
    width: 35px;
    height: 35px;
}

/*Marketing category*/

.marketers {
    margin-top: 104px;
    max-width: 1110px;
    max-height: 609px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.marketbox {
    max-width: 486px;
    max-height: 78px;
}
.img { 
    display: inline-block;
    margin-top: 128px;
    margin-right: 129px;
    max-width: 605px;
    max-height: 496px;
}
.divide {
    border: 1px solid #BCD0E5;
    margin-top: 146px;
    margin-left: 160px;
    max-width: 1109px;

}
/* Footer */

footer{

}

.links{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 484px;
    margin-bottom: 83px;
    padding-left: 126px;
    
}

.quicklinks {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2F281E;
    
  }

.legal {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2F281E;
}
.email {
    border: 1px solid #BCD0E5;
    border-radius: 5px;
    width: 325px;
    height: 48px;
}